<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>PAGE RECIT</h1>

    <p>Voici la page du potin n°<%= params[:id] %></p>
       <p>Son auteur :  <%= gossip.author %><br/></p>
       <p>Le contenu du potin :  <%= gossip.content%></p>

  </body>
</html>
